.SearchField,
.UrlBar-AddressField {
        border-radius: var(--radius);
        border: 1px solid var(--colorBorder);
        color: var(--colorFg);
        background-color: var(--colorBgIntenser);
        align-items: center;
        display: flex;
}
#panels-container {
        display: flex;
        flex: 0 0 auto;
        max-width: 61.8%;
        overflow: visible;
        position: relative;
        color: var(--colorFg);
        border: 0px solid var(--colorBorder);
        border-right: 1px solid var(--colorBorder);
        background-color: var(--colorBgAlphaBlur);
        z-index: 1;
}
#panels-container.left:not(.icons) .panel-group,
#panels-container.left.icons:not(:has(.SlideBar)) {
        border-right: 1px solid  var(--colorBorder);
}

/*
.webpageview.active.visible {
        display: inline !important;
        position: absolute;
        flex: 0;
        inset: 0;
        visibility: hidden;

}
.webpageview.visible > div .webpage {
        flex: 0;
}
.devtools-container > .internal-page{
        display: inline !important;
        visibility: visible;
}
.devtools-container > .webpage{
        visibility: hidden;
}*/
