.SearchField,
.UrlBar-AddressField {
  border-radius: var(--radius);
  border: 1px solid var(--colorBorder);
  color: var(--colorFg);
  background-color: var(--colorBgIntenser);
  align-items: center;
  display: flex;
}
#panels-container {
  display: flex;
  flex: 0 0 auto;
  max-width: 61.8%;
  overflow: visible;
  position: relative;
  color: var(--colorFg);
  border: 0px solid var(--colorBorder);
  border-right: 1px solid var(--colorBorder);
  background-color: var(--colorBgAlphaBlur);
  z-index: 1;
<<<<<<< HEAD
}
#panels-container.left:not(.icons) .panel-group,
#panels-container.left.icons:not(:has(.SlideBar)) {
border-right: 1px solid  var(--colorBorder);
}
#panels-container.left:not(.icons).overlay .panel-group {
box-shadow: 4px 0 8px -4px rgba(0, 0, 0, 0.25);
}
=======
}
>>>>>>> 73819a2 (initial commit)
